.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.edit_user img{
  width: 50px;
  margin :10px;
}

.my-restaurant{
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

.my-restaurant-img{
  height: 50px;
}

.user-item {  
  margin-bottom: 15px;
}